<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Крамар Дарья, Проворова Елена. {% block lab %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        WEB-програмирование, часть 2. {{ self.lab() }}
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        &copy;Крамар Дарья, Проворова Елена, ФБИ-11, 3 курс, 2023
    </footer>
</body>
</html>