{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
    <a href="/lab2">Вернуться к лабораторной работе 2</a>
    <h1>Комнатные растения и цветы</h1>
    <h2 style="font-style: italic;">Хамедорея Бридбл</h2>

    <div style="margin: 10px">Хамедорея Бридбл — декоративно-лиственное растение, которое можно 
        легко выращивать в помещении. Купить его одинаково хорошо для озеленения 
        дома, офиса или различных учреждений. Растение не имеет кроны, но при 
        этом отличается пышной перистой листвой. Комфортным местом размещения 
        является место с рассеянным освещением и влажностью не менее 50%. «Хамедорея 
        Бридбл» нуждается в поливе по мере высыхания грунта, а также опрыскивании 
        и протирании листьев. Растение неприхотливо, не требует специальных 
        удобрений и подкормок.
    </div>
    <div style="margin: 10px">Преимущества:</div>

    <ul>
        <li>неприхотливость;</li>
        <li>привлекательность;</li>
        <li>вариативность размножения;</li>
        <li>доступная цена.</li>
    </ul>
    <img style="width: 50%" src="{{ url_for('static', filename='f1.jpg') }}">
 
    <h2 style="font-style: italic;">Спатифиллум Чопин</h2>

    <div style="margin: 10px">Спатифиллум Чопин — красивый цветочный горшок, привлекающий внимание 
        рельефными глянцевыми листьями и необычными цветами. Крупные белоснежные 
        прицветники похожи на нежную лилию, а сердцевина - на золотую стрелу. 
        Спатиффилумы отличаются безукоризненной формой и пышностью куста. 
        Экзотическое растение вырастает до 1 метра в высоту. Цветет спатифиллум 
        «Шопен» очень долго. Купить цветок с мелодичным названием стоит для создания 
        романтичной атмосферы. Тропическое растение роскошно смотрится в флористических 
        композициях, оранжереях и зимних садах. Один из лучших вариантов для начинающих цветоводов!
    </div>
    <div style="margin: 10px">Преимущества:</div>
    
    <ul>
        <li>неприхотливость;</li>
        <li>быстрый рост;</li>
        <li>продолжительное цветение;</li>
        <li>простота ухода.</li>
    </ul>
    <img style="width: 50%" src="{{ url_for('static', filename='f2.png') }}">

    <h2 style="font-style: italic;">Замиокулькас замифолия</h2>

    <div style="margin: 10px">Замиокулькас — универсальный цветок, подходящий для оформления 
        жилых и общественных помещений. Среди садоводов он более известен 
        как «долларовое дерево», привлекающее удачу в денежных делах. 
        Растение любит тепло, яркий свет и умеренный полив, спокойно переносит 
        температуру от +16 °C зимой и выше +29 °C — летом. В весенне-осенний 
        период цветку требуется подкормка, которая выполняется стандартными 
        для декоративно-лиственных растений удобрениями. В теплое время года 
        замиокулькас желательно выносить на балкон.
    </div>
    <div style="margin: 10px">Преимущества:</div>
    
    <ul>
        <li>неприхотливость;</li>
        <li>выносливость к пересыханию почвы;</li>
        <li>одинаково хорошо растет на солнце и в тени;</li>
        <li>не боится сквозняков;</li>
        <li>достигает 1,6 м в высоту.</li>
    </ul>
    <img style="width: 50%" src="{{ url_for('static', filename='f3.jpg') }}">

    <h2 style="font-style: italic;">Цикламен</h2>

    <div style="margin: 10px">Цикламен (Cyclamen) — это невысокий (до 30 см) травянистый многолетник 
        с яркими длинночерешковыми прикорневыми листьями и одиночными 
        цветками на длинных цветоносах. Подходит для выращивания в помещении, 
        а также в саду и на балконе. Цветение приходится на конец лета — начало осени.
    </div>
    <div style="margin: 10px">Специальный уход:</div>
    
    <ul>
        <li>Растение предпочитает яркое освещение без прямых солнечных лучей, умеренную 
            прохладу — до 20 °С в жаркое время, не выше 15 °С в холодное;</li>
        <li>Требуется регулярный полив, увлажнение воздуха (опрыскивание);</li>
        <li>Для успешного выращивания необходимо обеспечить качественный дренаж.</li>
    </ul>
    <img style="width: 50%" src="{{ url_for('static', filename='f4.png') }}">

    <h2 style="font-style: italic;">Эхеверия микс</h2>

    <div style="margin: 10px">Эхеверия микс — комнатное нецветущее растение, предназначенное для 
        озеленения офисов и квартир. Максимальная высота составляет 8 см. Отличается 
        мясистыми листьями, цвет — от светло-зеленого до серого и розового. 
        Размещать растение летом рекомендуется в хорошо освещенных местах — подоконниках, 
        балконах. Зимой предпочитает прохладное содержание.
    </div>
    <div style="margin: 10px">Особенности:</div>
    
    <ul>
        <li>эхеверию подкармливают 1 раз в месяц;</li>
        <li>пересадка осуществляется осенью;</li>
        <li>полив и опрыскивание проводится 1 раз в неделю;</li>
        <li>подходящие грунт и удобрение — для кактусов и суккулентов;</li>
        <li>диапазон температур для выращивания — от 15°C до 30°C.</li>
    </ul>
    <img style="width: 50%" src="{{ url_for('static', filename='f5.jpg') }}">

{% endblock %}