{% extends "base.html" %}

{% block lab %}Лабораторная работа 6{% endblock %}
{% block style %}
<style>
    .menu {
        padding: 10px;
        border-bottom: 1px solid grey;
    }    
    .dmenu{
        display:inline-block;
        text-align: left;
        color:DodgerBlue;
        font-size:large;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-inline: 15px;
    }
    .m {
        color:DodgerBlue;
        text-decoration: none;
    }
    .b1 {
        background-color: white;
        color:DodgerBlue;
        border-width: 1px;
        border-color: DodgerBlue;
        border-radius: 2px;
    }
    .b2 {
        background-color: DodgerBlue;
        color:white;
        border-width: 1px;
        border-color: DodgerBlue;
        border-radius: 2px;
    }  
    .b3 {
        background-color: AliceBlue;
        color:DodgerBlue;
        border-width: 1px;
        border-color: DodgerBlue;
        border-radius: 2px;
    }  
    label {
        margin: 5px;
    }
    input {
        margin: 5px;
    }
    .l {
        background-color: MistyRose;
        padding: 5px;;
        margin: 5px;
        border-width: 1px;
        border-color: pink;
        border-radius: 2px;
    }
</style>
{% endblock %}
{% block main %}
<a href="/lab6">Вернуться к лабораторной работе 6</a>

<div class="menu">
    <div class="dmenu" style="font-weight: bolder; font-size: larger; 
                        text-align: left; width: 20%;">База знаний</div>
    
    <div class="dmenu"><a class="m" href="/lab6/articles">Статьи</a></div>

    <div class="dmenu"><a class="m" href="/lab6/user_articles">Просмотреть заметки</a></div>

    <div class="dmenu"><a class="m"href="/lab6/new_article">Создать заметку</a></div>

    <div class="dmenu">
                <form action="/lab6/login">
                    <button class="b1">Логин</button>
                </form>
    </div>

    <div class="dmenu">
                <form action="/lab6/register">
                    <button class="b2">Регистрация</button>    
                </form>
    </div>

    <div class="dmenu">
                <form action="/lab6/logout">
                    <button class="b3">Выход</button>    
                </form>
    </div>

    <div class="dmenu" style="display:inline-block;
                text-align: right; width:10%">{{ username }}</div>
</div>

<form method="POST">
    <h1 style="text-align:center;color: MidnightBlue;">Страница авторизации</h1>

    <div class="error">{{ errors }}</div>
    <div>
        <label for="username">Логин</label>
        <input type="text" name="username" placeholder="username">
    </div>

    <div>
        <label for="password">Пароль</label>
        <input type="text" name="password" placeholder="password">
    </div>

    <button class="l" type="submit">Войти</button>
</form>

{% endblock %}