{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block style %}

{% endblock %}

{% block main %}
<a href="/lab5">Вернуться к лабораторной работе 5</a>
{% block style %}
<style>
    .menu {
        padding: 10px;
        border-bottom: 1px solid grey;
    }    
</style>
{% endblock %}
<div class="menu">
    <div style="display:inline-block;
                text-align: left;">База знаний</div>

    <div style="display:inline-block;
                text-align: center"><a href="/lab5/articles">Статьи</a></div>
    
    <div style="display:inline-block;
                text-align: center"><a href="/lab5/user_articles">Просмотреть заметки</a></div>

    <div style="display:inline-block;
                text-align: center"><a href="/lab5/new_article">Создать заметку</a></div>

    <div style="display:inline-block;
                text-align: right">
                <form action="/lab5/login">
                    <button>Логин</button>
                </form>
    </div>

    <div style="display:inline-block;
                text-align: right">
                <form action="/lab5/register">
                    <button>Регистрация</button>    
                </form>
    </div>

    <div style="display:inline-block;
                text-align: right">
                <form action="/lab5/exit">
                    <button>Выход</button>    
                </form>
    </div>

    <div style="display:inline-block;
                text-align: right">{{ username }}</div>
</div>

    <form method="POST">
        <h1>Страница регистрации</h1>

        <div class="error">{{ errors }}</div>
        <div>
            <label for="username">Логин</label>
            <input type="text" name="username" placeholder="username">
        </div>

        <div>
            <label for="password">Пароль</label>
            <input type="text" name="password" placeholder="password">
        </div>

        <button type="submit">Зарегистрироваться</button>
    </form>

{% endblock %}